.container form{
	font-size: 12px;
	background-color: #efefef;
	padding: 10px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	box-shadow: 0 3px 2px #bfbfbf;
}
.text-danger {
	font-size: 18px;
	font-weight: lighter;
	color: red;
}
.passwordStrength {
	padding: 20px 0 0 0;
}
.pwstrength_viewport_progress {
	padding: 0 16px 0 16px !important;
	width: 180px;
	float: left;
}
.forcaSenha span{
	float: left;
	padding-top: 3px;
}
.error {
	font-style: italic;
	color: #e20040;
	font-weight: lighter;
}
.alert {
	text-align: center !important;
}