<?php
	// error
	echo isset($this->views->messages) ? $this->views->messages : '';
	// success
	$flashMessage = new \Plasticbrain\FlashMessages\FlashMessages();
	if($flashMessage->hasMessages($flashMessage::SUCCESS))
		$flashMessage->display('success');
?>
<div class="container">
	<div class="row">
	    <div class="col-md-11">

        	<h4>Registe-se Gratuitamete</h4>
        	<p class="small">Registe-se de forma fácil e rápida. O registo é rápido e grátis</p>
            <form class="form-horizontal" method="post" name="signup" id="signup">
            	<input type="hidden" name="csrf_token" value="<?= $_SESSION['csrf_token']; ?>" />
				<div class="form-group">
				  	<label for="email" class="control-label col-sm-3">Email <span class="text-danger">*</span></label>
				  	<div class="col-md-7">
				      	<input type="email" class="form-control" name="email" id="email" value="<?= (isset($_POST['email'])) ? $_POST['email'] : '' ?>" />
				    </div>
				</div>
				<div class="form-group">
				  	<label for="cemail" class="control-label col-sm-3">Confirmar Email <span class="text-danger">*</span></label>
				  	<div class="col-md-7">
				      	<input type="email" class="form-control" name="cemail" id="cemail" value="<?= (isset($_POST['cemail'])) ? $_POST['cemail'] : '' ?>" />
				    </div>
				</div>
				<br />

					<div class="row" id="pwd-container">
						<div class="col-md-6">
				    		<div class="form-group">
					          	<label for="password" class="control-label col-sm-6">Password <span class="text-danger">*</span></label>
				          		<div class="col-md-6">
				              		<input type="password" class="form-control" name="password" id="password">
				          		</div>
				    		</div>
				    		<div class="form-group">
				      			<label for="cpassword" class="control-label col-sm-6">Confirmar Password <span class="text-danger">*</span></label>
				      			<div class="col-md-6">
				          			<input type="password" class="form-control" name="cpassword" id="cpassword">
				      			</div>
							</div>
						</div>
						<div class="col-sm-4 passwordStrength">
							<span>A sua password é segura?</span>
							<div class="forcaSenha">
								<span>Pouco segura</span>
								<div class="pwstrength_viewport_progress"></div> 
								<span>Muito segura</span>
							</div>
						</div>
					</div>
				<br />

				<div class="form-group">
				  <label for="nome" class="control-label col-sm-3">Nome <span class="text-danger">*</span></label>
				  <div class="col-md-4">
				    <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" value="<?= (isset($_POST['nome'])) ? $_POST['nome'] : '' ?>" />
				  </div>
				  <div class="col-xs-3">
				    <input type="text" class="form-control" name="apelido" id="apelido" placeholder="Apelido" value="<?= (isset($_POST['apelido'])) ? $_POST['apelido'] : '' ?>" />
				  </div>
				</div>

				<div class="form-group">
				  	<label for="rua" class="control-label col-sm-3">Rua / N°</label>
				  	<div class="col-md-7">
				      	<input type="text" class="form-control" name="rua" id="rua" value="<?= (isset($_POST['rua'])) ? $_POST['rua'] : '' ?>" />
				    </div>
				</div>

				<div class="form-group">
				  <label for="codigo_postal" class="control-label col-sm-3">Código Postal / Localidade</label>
				  <div class="col-md-2">
				    <input type="text" class="form-control" name="codigo_postal" id="codigo_postal" placeholder="Ex. 9999-999" value="<?= (isset($_POST['codigo_postal'])) ? $_POST['codigo_postal'] : '' ?>" />
				  </div>
				  <div class="col-md-5">
				    <input type="text" class="form-control" name="localidade" id="localidade" value="<?= (isset($_POST['localidade'])) ? $_POST['localidade'] : '' ?>" />
				  </div>
				</div>

				<div class="form-group">
				  	<label for="id_pais" class="control-label col-sm-3">País</label>
						<div class="col-md-4">
				    	<select name="id_pais" id="id_pais" class="form-control">
				      		<?php
				      			foreach($this->views->paises as $k => $v)
				      			{
				      				$selected = (isset($_POST['id_pais']) && $_POST['id_pais'] == $k) ? 'selected' : '';
				      				echo "<option {$selected} value='{$k}'>{$v}</option>";
				      			}
		      				?>
				  		</select>
						</div>
				</div>

				<div class="form-group">
				  <label for="nif" class="control-label col-sm-3">NIF</label>
				  <div class="col-md-4">
				      <input type="text" class="form-control" name="nif" id="nif" maxlength="9" value="<?= (isset($_POST['nif'])) ? $_POST['nif'] : '' ?>" />
				  </div>
				</div>
				<div class="form-group">
				  <label for="telefone" class="control-label col-sm-3">Telefone</label>
				  <div class="col-md-4">
				      <input type="text" class="form-control" name="telefone" id="telefone" placeholder="Insira o numero aqui" value="<?= (isset($_POST['telefone'])) ? $_POST['telefone'] : '' ?>" />
				  </div>
				</div>
				<br />

				<div class="form-group">
				  <div class="col-xs-offset-3 col-xs-10">
				    <input name="Submit" type="submit" value="Registro" class="btn btn-primary">
				  </div>
				</div>
	      	</form>
	    </div>
	</div>
</div>
<script type="text/javascript">
	window.csrf = { csrf_token: '<?php echo $_SESSION['csrf_token']; ?>' };
</script>