<html>

<head>
	<title>OLX</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- CSS -->
	<link rel="stylesheet" href="css/signup.css">
</head>
<body>
	
	<?= $this->content() ?>
	
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/pwstrength-bootstrap/dist/pwstrength-bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/i18next/i18next.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
</body>